:root
    --dark: #0c0c0f
    --light: #e1e5f1
    --color: #fbdc2c
    --color-accent: #efc625
    --color-highlight: #ffeb57
    --blue: #2b2b56
    --blue-accent: #282851
    --blue-highlight: #30305f
    --light-blue: #595f82
    --light-blue-highlight: #7d84ae
    --blue-gray: #454a5e
    --text-color: #181a26
    --gray: #1b1d28

    // for iOS :)
    --u100vh: 100vh
    @supports (height: 100dvh)
        --u100vh: 100dvh
    
    
*
    padding: 0
    margin: 0
    box-sizing: border-box

    +scrollbar($background: $light, $thumb: $light-blue, $active: $color)

html
    font-size: 62.5%
    height: -webkit-fill-available
    
body
    font-size: 1.6rem
    background: $blue-accent

    font-family: $font-body
    color: $text-color

    overflow-x: hidden

    +scrollbar($background: $blue-accent, $thumb: $light-blue, $active: $color)

    +mediaIOS
        padding-bottom: env(safe-area-inset-bottom)

button,
input,
select,
textarea
    border: none
    border-radius: 0
    background: inherit

    font-family: inherit
    font-size: inherit
    color: inherit

    outline-offset: 2px
    outline-width: 2px

input
    width: 100%
    color: $text-color

a
    color: inherit
    text-decoration: none

.spinner
    animation: spinner 1s linear 0s infinite
    
    @keyframes spinner
        0%
            transform: rotate(0deg)
        100%
            transform: rotate(360deg)


.hide-mobile
    display: none !important

    +media-desktop
        display: unset !important

.flex
    display: flex

    &.center-h
        justify-content: center
    &.center-v
        align-items: center
    &.wrap
        flex-wrap: wrap

section[id], div[id], li[id]
    scroll-margin-top: 150px


ul
    list-style: none

svg.customSvg
    overflow: visible
    box-sizing: content-box

    display: var(--fa-display, inline-block)
    height: 1em
    overflow: visible
    vertical-align: -.125em
    

h1, h2, h3
    font-family: $font-heavy
    font-weight: normal

h1
    font-size: 70px

.warning-wrapper
    position: relative
.warning-bubble
    position: absolute
    top: 0
    right: 0

    transform: translate(50%, -50%)

    width: 20px

.small-button
    width: auto
    padding: 10px 20px
    background: #d6dcee

    border: 3px solid $light-blue-highlight
    outline: none
    
    font-size: 24px
    font-family: $font-bold

    display: flex
    justify-content: center
    align-items: center
    
    &:not([disabled])
        cursor: pointer

        +hover
            border: 3px solid #fff

    &[disabled]
        background: #babecc

.popup
    width: 520px
    height: 200px

    background: var(--tex-popup)
    background-size: 100% 100%

    padding: 40px 20px 60px 20px

    font-size: 24px
    font-family: $font-bold

    display: flex
    justify-content: center
    align-items: center

    .close
        position: absolute
        top: 20px
        right: 30px

        width: 20px
        height: 20px

        // filter: invert(0.9)

        cursor: pointer

        user-select: none
        -webkit-user-drag: none

.with-corner-decorations
    position: relative

    .corners
        display: none

        +media-large-desktop
            display: block

        .texture
            position: absolute

            &.left-top
                left: 0
                top: 0
                transform: translate(-75%, -75%)
            &.left-bottom
                left: 0
                bottom: 0
                transform: translate(-75%, 75%)

            &.right-top
                right: 0
                top: 0
                transform: translate(75%, -75%)
            &.right-bottom
                right: 0
                bottom: 0
                transform: translate(75%, 75%)

.with-border-decorations
    &::before,
    &::after
        content: ""
        position: absolute
        
        width: 150px
        height: 120px

        mask-size: 100% 100%

        background: $blue
        pointer-events: none

    &::before
        top: 3px
        left: 3px
        mask-image: var(--tex-borderTop)

    &::after
        bottom: 3px
        right: 3px
        mask-image: var(--tex-borderBottom)

.common-page
    $full-height: calc(var(--u100vh) - 65px)

    width: 100%
    min-height: $full-height

    background: var(--tex-promotionalBackground) no-repeat
    background-position: bottom
    background-size: 100% $full-height
    background-attachment: fixed

    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    gap: 10px

    padding: 60px 0

    +mediaIOS
        background: transparent

        &::before
            content: ""
            position: fixed
            top: 0
            left: 0
            width: 100%
            height: 100%
            
            background: var(--tex-promotionalBackground)
            background-position: 50% calc(100% + 65px)
            background-size: 100% calc($full-height + 65px + 65px)

            z-index: -1
            pointer-events: none

    &::after
        content: ""
        position: fixed
        bottom: 0
        left: 0
        width: 100%
        height: $full-height

        background: $blue var(--tex-promotionalBackground) no-repeat
        background-position: bottom
        background-size: 100% $full-height

        mask: var(--tex-promotionalBackgroundMaskInverted) no-repeat
        mask-size: 100% 100%
        mask-mode: alpha

        pointer-events: none

        z-index: 2

        +mediaIOS
            display: none

    &.with-padding
        padding: 60px 20px

    h1
        font-size: 64px
        font-family: $font-heavy
        text-transform: uppercase
        text-align: center
        color: $blue

        margin-bottom: 20px

        +media-mobile
            font-size: 46px

.simple-page
    position: relative
    width: 100%
    height: auto

    display: flex
    flex-direction: column
    justify-content: start
    align-items: center

    padding: 40px 20px

    background: $blue var(--tex-commonBackground) no-repeat
    background-size: cover
    background-position: center
    background-attachment: fixed

    z-index: 1

    .bg-panes
        position: fixed !important
        top: 0

        z-index: 2

        &,
        &::after,
        &::before
            content: ""
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100vh

        &::before
            z-index: -1

            +media-tablet
                background: var(--tex-leftPanel) no-repeat
                background-size: auto 1200px
                background-position: -779px 0

            +media($size: 1400px)
                background-size: auto 1200px
                background-position: -729px 0

        &::after
            z-index: -1

            +media-tablet
                background: var(--tex-rightPanel) no-repeat
                background-size: auto 1200px
                background-position: calc(100% + 350px + 50px) 100%

            +media($size: 1400px)
                background-size: auto 1200px
                background-position: calc(100% + 350px) 100%

    > *
        z-index: 3

    +media-desktop
        min-height: calc(var(--u100vh) - 65px)

    +mediaIOS
        background: transparent

        &::before
            content: ""
            position: fixed
            top: 0
            left: 0
            width: 100%
            height: var(--u100vh)
            
            background: var(--tex-commonBackground)
            background-position: top
            background-size: cover

            z-index: -1
            pointer-events: none

    &.no-navbar
        min-height: var(--u100vh)

.mobile-title
    position: relative
    width: 100%

    +media-desktop
        display: none

    &.dark
        h1
            color: $blue

    .back
        position: absolute
        left: 0
        top: 50%

        transform: translateY(-50%)


    h1
        font-size: 45px
        font-weight: 400
        text-transform: uppercase
        text-align: center
        color: $light

        padding: 0 60px

        +media-desktop
            font-size: 55px

        b
            font-weight: 400
            color: #deb718

.mobile-separator
    max-width: 750px
    padding: 0 20px

    +media-desktop
        display: none !important

    &.with-spacing
        margin-bottom: 20px


.categories-list
    height: fit-content
    
    display: flex
    flex-direction: column
    justify-content: start
    gap: 5px

    max-height: 400px
    overflow-x: hidden
    overflow-y: auto

    padding-left: 13px

    +scrollbar($thickness: 5px, $background: transparent, $thumb: $light-blue, $active: $color)

    .category
        position: relative
        display: grid
        grid-template-columns: 67px auto
        grid-auto-rows: 1fr
        align-items: center

        cursor: pointer
        user-select: none

        background: #f0f4fc

        &:not(.selected)
            +hover
                .icon
                    background: var(--tex-listItemIconHover) no-repeat
                    background-size: 100% 100%
                    border: 3px solid #fff

                .name
                    background: var(--tex-listItemHover) no-repeat
                    background-size: 100% 100%


        &.selected
            &::before
                display: block

            .icon
                background: var(--tex-listItemIconSelected) no-repeat
                background-size: 100% 100%

                border: 3px solid $color

            .name
                background: var(--tex-listItemSelected) no-repeat
                background-size: 100% 100%

                color: $color

        &::before
            content: ""
            position: absolute
            top: 0
            left: -13px

            width: 10px
            height: 100%

            background: var(--tex-listItemDecorationSelected) no-repeat
            background-size: 100% 100%

            display: none

        .icon,
        .name
            width: 100%
            height: 100%

            display: flex
            align-items: center

        .icon
            position: relative
            background: #909dc1

            display: flex
            justify-content: center
            align-items: center

            border: 3px solid transparent
            border-right: none !important

        .name
            padding: 10px 10px 10px 15px

            h4
                font-family: $font-bold
                font-weight: 400
                font-size: 22px
                text-transform: uppercase

.lightbox-wrapper
    position: fixed
    top: 0
    left: 0

    width: 100%
    height: var(--u100vh)
    
    background: #1b172eaf
    backdrop-filter: blur(5px)

    display: flex
    justify-content: center
    align-items: center

    z-index: 31

    cursor: zoom-out

    &.full
        img
            width: 100%
            height: 100%

    img
        width: 90%
        height: 90%

        object-fit: contain