.hero-page
    position: relative
    min-height: 100vh

    background: transparent var(--tex-biColorBackground) no-repeat
    background-size: 100% 100%
    background-position: bottom
    background-attachment: fixed

    +media-desktop
        background-size: cover

    .silhouette
        position: fixed
        top: 0
        left: 0
        width: 100%
        height: 100%

        pointer-events: none
        overflow: clip
        
        &::before
            content: ""
            position: absolute
            top: 0
            left: 50%
            transform: translateX(-50%)

            width: auto
            height: 100%
            aspect-ratio: 1.2 / 1

            background: transparent
            background-repeat: no-repeat
            background-image: var(--hero-silhouette)
            background-size: 100% 100%
            background-position: center

            +media-mobile
                background-position: center
                background-attachment: fixed


    > *:not(nav)
        z-index: 1
        

    nav
        position: fixed
        top: 0

        +media-desktop
            top: 20px

        .head .title .favourite
            flex-shrink: 0
            position: absolute
            right: 0
            transform: translateX(calc(100% + 10px))

    main
        display: flex
        flex-direction: column

        overflow-x: clip

        +media-desktop
            height: 100vh

            display: grid
            grid-template-columns: 1fr 2fr
            grid-template-rows: 100vh

            overflow: clip

        .hero
            position: relative
            width: 100%

            height: 700px

            overflow: visible

            +media-desktop
                height: 100%

            .prestige
                position: relative
                width: 100%
                height: 100%

                user-select: none
                -webkit-user-drag: none

                .prestige-bg
                    position: absolute
                    top: 0
                    left: 50%
                    transform: translateX(-50%)
                    width: 600px
                    height: 100%

                    +media-height($minmax: 'max', $size: 880px)
                        overflow: clip
                    +media-mobile
                        overflow: clip

                    .prestige-bg-left,
                    .prestige-bg-center,
                    .prestige-bg-right
                        position: absolute
                        top: 0
                        left: 0
                        width: 100%
                        height: 100%

                        +media-height($minmax: 'max', $size: 880px)
                            height: 880px
                        +media-mobile
                            height: 880px

                .logo
                    position: absolute
                    top: -20px
                    left: 50%
                    transform: translateX(-50%)

                    width: 400px
                    height: 400px

                    object-fit: contain

                    mask-image: linear-gradient(45deg, rgba(255,255,255, 0), rgba(255,255,255,0.5))

                    pointer-events: none

                    user-select: none
                    -webkit-user-drag: none

                .prestige-img-wrapper
                    position: absolute
                    top: 0
                    left: 50%
                    transform: translateX(-50%)
                    width: 600px
                    height: 100%

                    mask-image: var(--tex-heroPrestigeMask)
                    mask-repeat: no-repeat
                    mask-size: 105%
                    mask-position: 50% calc(100% - 175px)

                    +media-height($minmax: 'max', $size: 880px)
                        mask-position: 50% 75px

                        .prestige-img
                            bottom: unset !important
                            top: 100px

                    +media-mobile
                        mask-position: 50% 45px

                        .prestige-img
                            bottom: unset !important
                            top: 50px

                    .prestige-img
                        position: absolute
                        left: 0
                        bottom: 200px
                        width: 100%

                        user-select: none
                        -webkit-user-drag: none

            > * 
                position: relative
                z-index: 2

            .player-options-wrapper,
            .categories-list
                position: absolute
                bottom: 25px
                right: 50%

                width: 300px

                +media-mobile
                    transform: translateX(50%)

                +media-tablet
                    width: 375px

                +media-desktop
                    width: 300px
                    bottom: 85px
                    right: 0

                +media-large-desktop
                    width: 375px

            .player-options-wrapper
                display: flex
                flex-direction: column
                gap: 20px

                .role-select
                    width: 100%
                    display: flex
                    justify-content: center
                    align-items: center
                    gap: 10px

                    .modify
                        cursor: pointer

                        +hover
                            .texture
                                ::v-deep(img)
                                    filter: drop-shadow(0px 1px 0 $light-blue) drop-shadow(1px 0px 0 $light-blue) drop-shadow(1px 1px 0 $light-blue) drop-shadow(0px -1px 0 $light-blue) drop-shadow(-1px 0px 0 $light-blue)

                        .texture
                            ::v-deep(img)
                                filter: drop-shadow(0px 2px 0 $blue) drop-shadow(2px 0px 0 $blue) drop-shadow(2px 2px 0 $blue) drop-shadow(0px -2px 0 $blue) drop-shadow(-2px 0px 0 $blue)


                .player-level
                    padding-left: 50px
                    padding-right: 28px
                    padding-bottom: 12px

                    background: var(--tex-heroProficiencyLevel) no-repeat
                    background-size: 100% 100%

                    display: grid
                    grid-template-columns: 100%
                    grid-template-rows: 53px 67px

                    z-index: 4
                    user-select: none

                    +media-phone
                        padding-left: 42px
                        padding-right: 22px

                    > .popup
                        position: absolute
                        top: 0
                        left: 20px
                        transform: translateY(-100%)

                        width: calc(100% - 10px)
                        padding: 40px 35px 50px 35px

                        +media-phone
                            padding: 50px 35px 60px 35px
                            height: auto

                        .message
                            p
                                text-align: center
                                line-height: 16px
                                font-size: 18px
                                margin-bottom: 6px

                                span
                                    color: #c09b07

                    .current
                        position: relative
                        display: flex
                        justify-content: space-between
                        align-items: center

                        cursor: pointer

                        +hover
                            &::before
                                content: ""
                                position: absolute
                                top: 0
                                left: 50%
                                width: calc(100% + 44px)
                                height: 100%

                                transform: translateX(-50%) skew(4deg)

                                backdrop-filter: brightness(1.2)

                                z-index: -1

                                +media-mobile
                                    left: calc(50% - 4px)
                                    width: calc(100% + 52px)
                                    transform: translateX(-50%) skew(2.5deg)

                                +media-tablet
                                    left: calc(50%)
                                    width: calc(100% + 44px)
                                    transform: translateX(-50%) skew(4deg)

                                +media-desktop
                                    left: 50%
                                    width: calc(100% + 52px)
                                    transform: translateX(-50%) skew(2.5deg)

                                +media-large-desktop
                                    width: calc(100% + 44px)

                            .rank
                                color: $light-blue

                                .icon
                                    img
                                        filter: brightness(1.4)

                        .rank h2,
                        .level
                            font-size: 28px
                            font-family: $font-bold
                            font-weight: normal
                            text-transform: uppercase
                            font-style: italic

                        .rank
                            height: 100%
                            display: flex
                            align-items: center
                            gap: 10px

                            color: $dark

                            +media-phone
                                gap: 0

                            .icon
                                width: 45px
                                height: 100%

                                display: flex
                                justify-content: center
                                align-items: center

                                img
                                    display: block
                                    width: 75px

                                    pointer-events: none
                                    user-select: none
                                    -webkit-user-drag: none

                        .level
                            display: flex
                            align-items: center
                            gap: 5px

                            color: $light-blue-highlight
                            user-select: none

                            +media-phone
                                gap: 0

                            &.can-level-up
                                +hover
                                    color: #ebb72a

                                    .texture
                                        ::v-deep(.tex-image)
                                                background: #ebb72a

                    .bottom
                        align-self: end
                        width: 100%

                        display: grid
                        grid-template-columns: auto 40px
                        gap: 10px

                        .points
                            width: 100%

                            display: flex
                            flex-direction: column
                            gap: 4px

                            cursor: pointer

                            .point-count
                                display: flex
                                align-items: center
                                gap: 5px

                                p
                                    font-family: $font
                                    font-size: 26px
                                    color: $light

                                    span
                                        color: $light-blue-highlight

                        .set
                            align-self: end
                            position: relative
                            display: flex
                            justify-content: center
                            align-items: center

                            .popup
                                position: absolute
                                top: 0
                                right: 0
                                transform: translate(60px, -100%)

                                // text-align: center

                                +media-mobile
                                    width: 200px
                                    height: 150px

                                    font-size: 20px

                                +media-desktop
                                    width: 300px
                                    height: 150px
                                    padding: 30px 40px 60px 40px

                                    transform: translate(90px, -100%)

        .content
            margin: 0 0 60px 0

            width: 100%
            height: auto
            justify-self: center

            background: $light var(--tex-whiteBackground) no-repeat
            background-size: cover

            z-index: 2

            +media-desktop
                width: 95%
                margin: 40px + 65px 0 0 0
                height: calc(100% - 40px - 65px - 20px)

            +media-large-desktop
                width: 80%
                height: calc(100% - 40px - 65px - 85px)

            &.planner-wrapper,
            &.update-stats
                display: flex
                justify-content: center
                align-items: center

            &.planner-wrapper
                overflow-x: hidden
                overflow-y: auto

            &.cosmetics-wrapper
                padding: 0

            .update-stats-modal
                max-height: 100%

            .tabbed-container
                width: 100%
                height: 100%

                &[data-current-tab="rewards"]
                    ::v-deep(.tab-container)
                        display: flex
                        flex-direction: column
                        align-items: center

                        padding-bottom: 40px

                        .rewards
                            +media-mobile
                                padding: 20px 10px

                        > p
                            color: $light-blue
                            font-size: 14px
                            margin-bottom: 10px

                &[data-current-tab="missions"]
                    ::v-deep(.tab-container)
                        height: 100%

                &[data-current-tab="stats"]
                    ::v-deep(.tab-container)
                        width: 100%
                        display: flex
                        justify-content: center
                        padding: 20px

            ::v-deep(.tab-container)
                width: 100%

                +media-desktop
                    height: 100%

                    overflow-x: hidden
                    overflow-y: auto
                    +scrollbar($background: $light, $thumb: $light-blue, $active: $color)