/* 
 * VARIABLES:
 * %breakpoint_min% : number
 * %breakpoint_max% : number
 * %nav_id% : v-id
 */

@media (min-width: %breakpoint_min%px) {
    .navBar[data-nav-id="%nav_id%"] {
        padding: 0 0 0 50px;

        &.fullWidth {
            padding: 0 30px 0 80px;
        }

        .menu {
            display: none;
        }

        .tabList {
            display: flex !important;

            > .tabItem {
                &:first-of-type::after,
                &:first-of-type::before {
                    left: 0;
                }
                &:last-of-type::after,
                &:last-of-type::before {
                    right: 9px;
                }
                &:last-of-type {
                    padding-right: 40px;

                    .active-animation::after {
                        width: 95%;
                    }
                }
            }
        }
    }
}

@media (min-width: %breakpoint_min%px) and (max-width: 1400px) {
    .navBar[data-nav-id="%nav_id%"].fullWidth {
        padding: 0 30px 0 30px;
    }
}

@media (max-width: %breakpoint_max%px) {
    .navBar[data-nav-id="%nav_id%"] {
        .tabList {
            position: absolute;
            top: 65px;
            left: 0;

            width: 100%;
            height: auto;
            max-height: calc(var(--u100vh) - 65px);

            flex-direction: column;

            overflow-x: hidden;
            overflow-y: auto;

            &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;

                background: var(--blue) var(--tex-barBackground);
                background-size: auto 65px;
                background-position: 90% 0%;

                z-index: 1;
            }


            > * {
                z-index: 2
            }

            > .tabItem {
                padding: 0 25px 0 25px;

                height: 65px;

                &.new::after {
                    background-size: 90% 100%;
                    background-position: 80%;
                }
            }
        }
    }
}

@media (max-width: %breakpoint_max%px) and (min-width: 991px) {
    .navBar[data-nav-id="%nav_id%"] .tabList {
        top: 64.5px;
        width: calc(100% - 18.5px);

        &::before {
            background-color: color-mix(in srgb, var(--blue) 80%, transparent);
            background-position: calc(90% + 19px) 0%;
        }
    }
}